* {
  font-size: medium;
  font-family: 'Roboto';
}

$primaryBackground: #F0FFFF;
$hoverBackgroundColor: #fdfcfce7;
$primaryColor: #000;
$secondaryColor: rgb(110, 110, 110);

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.LocationList {
  display: flex;
  align-items: center;
  justify-content: center;
}

.locationText {
  display: flex;
  align-items: center;
  font-size: large;
  border-bottom: 2px solid gray;
  height: 100px;
  width: 300px;
  justify-content: center;
  flex-direction: column;
  
}

.locationText:hover {
  background-color: $hoverBackgroundColor;
}

.temperature {
  font-size: 100px;
  justify-content: center;
  align-items: center;
}

.currentWeather {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  margin-bottom: 50px;
  background-color: #fff;
}

.locationName {
  font-size: 30px;
}

.symbolPhrase {
  font-size: 30px;
}

.currentTime {
  font-size: 30px;
  margin-bottom: 20px;
  color: $secondaryColor;
}

.dailyWeatherList {
  display: flex;
  flex-direction: row;
}

.DetailedView {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.dailyItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dailyNameOfDay {
  font-size: 25px;
  color: $secondaryColor;
}

.return {
  color: $secondaryColor;
  display: flex;
  width: 300px;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  background-color: #fff;
}

.return:hover {
  background-color: $hoverBackgroundColor;
}

:root {
  width: auto;
  height: 100vh;
  background-color: $primaryBackground;
}

.detailedViewContainer {
  padding: 30px;
}

.locationListName {
  font-size: 30px;
}
.locationListCountry {
  font-size: 20px;
  color: $secondaryColor;
}